.task-item {  
    margin-bottom: 10px; /* Add space between each task item */  
}  

.task-item input {  
    display: inline-block; /* Make the input and button inline */  
}  

.task-item button {  
    display: inline-block; /* Make the input and button inline */  
}

.liveInput, .addTaskButton {  
    margin-top: 1em; /* Adjusted margin for more reasonable spacing */  
}

.todoInput{
    padding: 10px;           /* Add some padding for aesthetics */  
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.todoDate{
    padding: 10px;           /* Add some padding for aesthetics */  
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.todoTaskButton{
    padding: 10px 15px;           /* Add some padding for aesthetics */  
    background-color: green;
    color: white;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.deleteTaskButton {  
    background-color: #ff4c4c; /* Red background */  
    color: white;              /* White text */  
    border: none;              /* No border */  
    border-radius: 5px;       /* Rounded corners */  
    padding: 10px 20px;       /* Top/Bottom and Left/Right padding */  
    font-size: 16px;          /* Font size */  
    cursor: pointer;           /* Pointer cursor on hover */  
    transition: background-color 0.3s; /* Smooth transition for background color */  
}  

.deleteTaskButton:hover {  
    background-color: #d73a3a; /* Darker red on hover */  
} 